* {
  margin: 0;
  padding: 0;
}

body {
  padding: 30px;
}

.weilei1 p {
  font-size: 12px;
  color: red;
}

p.counter {
  font-size: 25px;
  counter-reset: jishu1 1;
  counter-increment: jishu1;
}


p.counter:before {
  content: counter(jishu1);
  counter-increment: jishu1;
}

p.add {
  counter-increment: jishu1;
}

p.add:before {
  content: counter(jishu1);
  counter-increment: jishu1;
}

.reset {
  padding-left: 20px;
  counter-reset: wangxiaoer;
}

.coun::before {
  content: counters(wangxiaoer, '-') '. ';
  counter-increment: wangxiaoer;
}


.line {
  background-color: blue;
  /* overflow:auto; */
}

.line span {
  display: inline;
  padding: 10px;
  background-color: red;
}
.test1 {
  margin: 30px 0;
  font-size: 12px;
}

.test1 a:before {
  content: "";
  font-size: 0;
  padding: 10px 3px 1px;
  margin-left: 1px;
  border-left: 1px solid gray;
}